@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@500&display=swap");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
}

/* nav */
.nav {
  display: flex;
  gap: 28px;
}

.nav a {
  padding: 14px 0;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
  margin-bottom: 40px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: italic;
  background-color: #111;
  color: #fff;
  padding: 12px 11px;
}

.top_menu {
  font-size: 28px;
  display: flex;
  gap: 36px;
}

/* slide */
.slide {
  height: 640px;
  margin-bottom: 98px;
  background: url("../images/shoes.png") no-repeat;
  background-position: right -50px;
  position: relative;
}

.slide__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.slide__text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 800;
  width: 257px;
  letter-spacing: -3px;
  line-height: 1;
}
.slide__text p {
  font-size: 18px;
  margin: 15px 0 18px;
}
.slide__text .btn {
  width: 256px;
  height: 64px;
  background-color: #111;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* product_01 */
.product_01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.product_01 .box {
  width: 632px;
  height: 642px;
  background-color: #111;
  color: #fff;
  padding: 50px 48px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_01 .box h3 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.product_01 .box a {
  font-size: 30px;
}
